<% content_for :title do %>
  <%= @location.name %>
<% end %>

<% content_for :side_menu do %>
  <div class="top-join expiry">
    <a>
      <small>EXPIRING IN</small><br />
      <span id="group-countdown">&nbsp;</span>
    </a>
    <script>
      document.addEventListener("turbolinks:load", function() {
        countdownTimer(<%= @location.expires_in_seconds %>, $('#group-countdown'));
      });
    </script>
  </div>
<% end %>

<% if logged_in? %>
  <p id="notice">Link Copied to Clipboard.</p>
<% end %>

<div data-location-id="<%= @location.id %>"></div>

<% content_for(:map_content) do %>
  <div id="map-<%= @location.id %>" class='map' data-lat="<%= @location.lat %>" data-lng="<%= @location.lng %>"></div>
<% end %>
