<!DOCTYPE html>
<html>
  <head>
    <title>Reach - Location Sharing</title>
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7268692/635568/css/fonts.css" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=2.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>
  <body>
    <div id="content">
      <div id="toolbar" class="sidebar">
        <div class="top-menu">
          <h1>&nbsp;</h1>
        </div>

        <div class="top-title">
          <h1><a href="/">REACH</a></h1>
        </div>

        <div class="top-name">
          <h1><%= yield(:title) %></h1>
        </div>

        <%= yield(:side_menu) %>
      </div>

      <% if content_for(:map_content) %>
        <%= yield(:map_content) %>
      <% end %>

      <div class="wrapper">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
